p {
    color: #caccce;
}
body {
    background-color: #dadada;
    height: 100%;
}


.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a{
    color: #323232;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #767676;
}

.download-btn {
	font-size: 12px;
    vertical-align: bottom;
}

header{
    padding-top: 74px;
    padding-bottom: 40px;
}

h1, h2{
    margin: 0px;
}

h1{
    padding-bottom: 14px;
    font-size: 30px;
    color: #323232;
}

h2{
    font-size: 17px;
    color: #777777;
}

.horizontal-line{
    width: 100%;
    height: 2px;
    background-color: #777777;
}

.row{
    margin-right: auto;
    margin-left: auto;
}