p {
    color: #caccce;
}

body {
    background-color: #dadada;
    height: 100%;
}


.navbar-default{
    background-color: #dadada;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a{
    color: #323232;
    text-align: right;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #767676;
}

.download-btn {
	font-size: 12px;
    vertical-align: bottom;
}

header{
    padding-left: 15px;
    padding-top: 74px;
    padding-bottom: 30px;
}

.horizontal-line{
    width: 95%;
    height: 2px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    background-color: #777777;
}

h1, h2{
    margin: 0px;
}

h1{
    padding-bottom: 14px;
    font-size: 35px;
    color: #323232;
}

h2{
    font-size: 20px;
    color: #777777;
}

.side-note 
{
    padding-right: 30px;
    margin-bottom: 60px;
}


.side-note h1
{
    font-size: 30px;
    margin-bottom: 10px;
}

.side-note p
{    
    color: #323232;
    font-size: 18px;
    margin-top: 5px;    
    line-height: 30px;
}

.side-note p span
{
    margin-right: 15px;
}

.side-note .horizontal-line
{
    width: 100%;
}

.side-note .language-level
{
    font-size: 95%;
    color: #777777;
}

.row{
    margin-right: auto;
    margin-left: auto;
}


.main-content
{
    text-align: justify;
    padding-right: 0;
    padding-left: 30px;
    border-left: 3px solid #777777;
    margin-top: 5px;
    height: 100%;
}

.main-content p 
{
    color: #777777;
    font-size: 16px;
    margin-bottom: 40px;
}

.main-content h1
{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.main-content h2
{
    margin-bottom: 20px;
}

.circle
{
    float: left;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -42px;
}

.circle-filled
{
    background: #777777;
}

.circle-empty
{
    background: #dadada;
    border:2px solid #777777;
}
