#mainNav{
    background-color: #caccce !important;
    color: #323131 !important;
}

#masthead{
    background-color: #323131 !important;
    color: #caccce !important;
}

#portfolio{
    background-color: #caccce !important;
    color: #323131 !important;
}

#portfolio h2{
    color: #323131 !important;
}

#about{
    background-color: #323131 !important;
    color: #caccce !important;
}

#about h2{
    color: #caccce !important;
}

.modal-content h2{
    color: #323131 !important;
}

.social-media-links{
    
    font-size: 25px;
    display: inline-flex;
}

.social-media-links a{
    padding: 0 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin: 0 !important;
}