@font-face {
    font-family: font-italic;
    src: url(../fonts/Avenir-Italic.otf);
}

@font-face {
    font-family: font-regular;
    src: url(../fonts/Avenir-Regular.otf);
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 24pt;
    vertical-align: baseline;
    background: transparent; /* text-align: center; */
    font-family: system-ui;
    font-weight: 600; /* color: #232323; */
}
html {
    height: 100%;
}
body {
    background-color: #323131;
    height: 100%;
}
img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: -webkit-center;
}
.container {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}
.links {
    display: flex;
    justify-content: center;
    align-content: center;
}
.icon-newspaper:before {
    font-size: 28px;
    margin-left: 2px;
}
a {
    border-radius: 38px;
    margin: 0px 2px 0px 2px;
    color: #caccce;
    padding: 5px;
    text-align: inherit;
    padding-bottom: 5px;
    width: 46px;
    -webkit-transition: all linear 0.15s;
}
a:hover {
    background-color: #323132;
    color: #caccce;
}
hr {
    height: 0;
    width: 360px;
    border-width: 1px;
    border-color: #959b9f;
}
.center {
    display: table-cell;
    vertical-align: middle;
}


#main-page{
    color: #caccce;
}

#title{
    font-family: font-italic;
}

#title span{
    font-family: font-regular;
    font-size: 20pt;
}